configuration {
	font:							"JetBrains Mono 12";
  show-icons:                     true;
	icon-theme: 					"Papirus";
  display-drun: 					"";
  drun-display-format:            "{name}";
  disable-history:                false;
  fullscreen:                     false;
	hide-scrollbar: 				false;
	sidebar-mode: 					false;
}

@theme "~/.config/rofi/material.rasi"
